{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}

{% trans "Sign In" %}

{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 mt-3 offset-me-2"></div>
    <h3>{% trans "Sign In:" %}</h3>

    <p>
      {% blocktrans %}
      Welcome to Berlin Besbeers! Don't you have an account? Then please
      <a class="link" href="{{ account_signup }}">signup</a> instead.
      {% endblocktrans %}
    </p>

    <div class="row">
      <div class="col-md-8 mt-3 offset-md-2"></div>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}