@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap');


body {
    background-color: #F9FAFC;
    padding-top: 65px;
}


/* Navigation */
.navbar {
    background-color: #343a40;
    padding: 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 2em;
    padding: 0;
}

.navbar-brand i {
    font-size: 1.4em;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
}

.navbar-nav {
    margin-right: 10px;
}

.nav-item {
    font-size: 1.2em;
    font-weight: 500;
}

.nav-item .active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 0px;
    width: fit-content;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding-right: 0;
    padding-left: 0;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    font-weight: 500;
}

.navbar-text i {
    color: #ffc107;
}


/* Hero */
.hero {
    background-color: #ffc107;
    background-image: url("https://res.cloudinary.com/dovykh024/image/upload/v1673787289/background_hero_xd1mby.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.hero-text {
    min-height: 50vh;
    color: #fff;
    text-align: center;
}

.hero-text h1 {
    font-size: 8em;
    font-weight: 400;
}

.hero-text h2 {
    font-family: "Roboto", sans-serif;
    font-size: 3em;
}

#wave {
    width: 100%;
}







.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #F6C101;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #e86f47;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #343a40;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #343a40;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: rgba(255, 255, 255, 0.7);
    ;
    text-decoration: underline;
}

.btn-like {
    color: #e86f47;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #e86f47;
    background: transparent;
    border: none;
}