@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap');


body {
    background-color: #F9FAFC;
    padding-top: 65px;
}


/* Navigation */
.navbar {
    background-color: #343a40;
    padding: 10px;
}


.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 2em;
    padding: 0;
}

.navbar-brand i {
    font-size: 1.4em;
    border-radius: 50%;
    margin-right: 10px;
    padding: 10px;
}

.navbar-nav {
    margin-right: 10px;
}

.nav-item {
    font-size: 1.2em;
    font-weight: 500;
}

.nav-item .active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 0px;
    width: fit-content;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding-right: 0;
    padding-left: 0;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    font-weight: 500;
}

.navbar-text i {
    color: #ffc107;
}

/* Hero */
.hero {
    background-color: #ffc107;
    background-image: url("https://res.cloudinary.com/dovykh024/image/upload/v1673867369/background_hero_upxrjb.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.hero-text {
    min-height: 50vh;
    color: #fff;
}

.hero-text h1 {
    font-size: 5em;
    font-weight: 600;

}

.hero-text h2 {
    font-size: 3em;
}

.hero-text h1,
h2 {
    font-family: "Roboto", sans-serif;
    color: #ff1712;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.section {
    display: block;
}


/* Info section */
.info .container {
    background-color: #fff;
    border-radius: 20%;
    text-align: center;
}

.info .col i {
    font-size: 3em;
    color: #ffc107;
    background-color: #343a40;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 22px 24px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    border: 3px solid #ffc107;
}

.info .col h3 {
    font-size: 3em;
    font-weight: 400;
}


/* Blog/Post Detail */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -5px;
    background-color: #c3b75e;
    padding-right: 10px;
    border-left: 5px double #F9FAFC;
}

.image-new-flash {
    position: absolute;
    bottom: 25%;
    min-width: 20%;
    left: -5px;
    background-color: #E84610;
    padding-right: 10px;
    border-left: 5px double #F9FAFC;
}

.author {
    color: #343a40;
    margin: 4px;
    text-transform: uppercase;
}

.header {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.header-text {
    background-color: #004d40;
    color: white;
    position: relative;
}

.header-image {
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 5px;
}

.header-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #004d40;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.card-img-top {
    width: 100%;
}

.card-body img {
    max-width: 80vw;
    border-radius: 5px;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #e86f47;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #343a40;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #343a40;
}

.link {
    color: #235dbb;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: rgba(255, 255, 255, 0.7);
    ;
    text-decoration: underline;
}

.btn-like {
    color: #e86f47;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #e86f47;
    background: transparent;
    border: none;
}

.footer {
    background-color: #343a40;
}