@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&family=Roboto:wght@400;700&display=swap');


body {
    background-color: #F9FAFC;
    padding-top: 65px;
}


/* Navigation */

.navbar {
    background-color: #343a40;
    padding: 10px;
}

.navbar-brand {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    padding: 0;
}

.navbar-brand i {
    border-radius: 50%;
    margin-right: 20px;
    padding: 10px;
}

.navbar-nav {
    margin-right: 10px;
}

.nav-item {
    font-size: 1.2em;
    font-weight: 500;
}

.nav-item .active {
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 0px;
    width: fit-content;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7);
    padding-right: 0;
    padding-left: 0;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.navbar-dark .navbar-text {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1.2em;
    font-weight: 500;
}

.navbar-text i {
    color: #ffc107;
}

/* Hero */

.hero {
    background-image: url("https://res.cloudinary.com/dovykh024/image/upload/v1675772920/icgiyh6by1cjjvvvenqf.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

/*.hero .col .h1 {
    position: absolute;
}*/

.hero-text {
    min-height: 60vh;
    font-weight: 600;
    text-align: center;
}

.hero-text h1 {
    font-size: 5em;
    font-weight: 500;

}

.hero-text h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3em;
}

.hero-text h1,
h2 {
    font-family: "Poppins", sans-serif;
    color: #ff1712;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    position: static;
}

.section {
    display: block;
}


/* Info section */

.info .container {
    background-color: #fff;
    border-radius: 20%;
    text-align: center;
}

.info .col i {
    font-size: 3em;
    color: #ffc107;
    background-color: #343a40;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 22px 24px;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    border: 3px solid #ffc107;
}

.info .col h3 {
    font-size: 3em;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}


/* Blog post_detail */

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -5px;
    background-color: #ffc107e0;
    padding-right: 10px;
    border-left: 5px double #F9FAFC;
}

.image-new-flash {
    position: absolute;
    bottom: 25%;
    min-width: 20%;
    left: -5px;
    background-color: #fe3209cb;
    padding-right: 10px;
    border-left: 5px double #F9FAFC;
}

.author {
    color: #F9FAFC;
    margin: 4px;
    text-transform: uppercase;
}

.header {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.header-text {
    background-color: #ffc107;
    color: white;
    position: relative;
}

.header-image {
    position: relative;
    overflow: hidden;
    border-bottom-right-radius: 5px;
}

.header-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #655115;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.card-img-top {
    width: 100%;
}

.card-body img {
    max-width: 80vw;
    border-radius: 5px;
}

.post-link {
    text-decoration: none;
    color: #ff1712;
}

.post-link:hover,
.page-link {
    color: #e85332;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
    border-bottom: 1px solid rgba(95, 84, 84, 0.7);
    font-family: "Poppins", sans-serif;
    font-size: 2.5em;
    font-weight: 600;
    color: #343a40;
}

.post-subtitle {
    margin-left: 5%;
    color: #343a40;
    font-family: "Poppins", sans-serif;
}

.btn-signup,
.btn-del,
.btn-sec {
    background-color: #343a40;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active,
.btn-sec:hover,
.btn-sec:active,
.btn-del:hover,
.btn-del:active .btn-badge:active {
    background-color: #ffc107;
    color: #343a40;
}

.btn-git {
    background-color: #ffc107;
    color: #fff;
}

.link {
    color: #ff1712;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: rgba(255, 255, 255, 0.7);
    ;
    text-decoration: underline;
}

.btn-like {
    color: #e86f47;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #e86f47;
    background: transparent;
    border: none;
}

/* List of all bars */
.bar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Each br o f the list */
.bar-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

/* Review section */
.review-section {
    margin-top: 20px;
}

/* Each review */
.review-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}


/* Footer */

.footer {
    background-color: #343a40;
}

footer hr {
    color: #fff;
}

footer h3 {
    font-family: "Poppins", sans-serif;
    font-size: 2em;
    color: #fff;
}

footer p {
    font-family: "Poppins", sans-serif;
}


/* Media Queries */

@media screen and (max-width: 1900px) {
    .hero-text h1 {
        font-size: 6em;
    }
}

@media screen and (max-width: 1180px) {
    .hero {
        background-attachment: local;
    }
}

@media screen and (max-width: 500px) {
    .hero-text h1 {
        font-size: 3em;
    }

    .hero-text h2 {
        font-size: 2em;
    }

    .info .col i {
        font-size: 3em;
        margin-bottom: 5px;
    }

    .info .col h3 {
        font-size: 2em;
    }
}