{% extends 'base.html' %}

{% block content %}
<h1>{{ bar.name }}</h1>
<div class="star-rating">
    <span class="fa fa-star{% if bar.rating >= 1 %} checked{% endif %}" data-rating="1"></span>
    <span class="fa fa-star{% if bar.rating >= 2 %} checked{% endif %}" data-rating="2"></span>
    <span class="fa fa-star{% if bar.rating >= 3 %} checked{% endif %}" data-rating="3"></span>
    <span class="fa fa-star{% if bar.rating >= 4 %} checked{% endif %}" data-rating="4"></span>
    <span class="fa fa-star{% if bar.rating >= 5 %} checked{% endif %}" data-rating="5"></span>
</div>
{% endblock %}