{% extends 'base.html' %}

{% block content %}



<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                <h1> {{ bar_list }} </h1>
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if 'placeholder' in post.featured_image.url %}
                                <!-- Display placeholder photos based on last bars posts -->
                                {% if post.get_location_display == 'xxxx' %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                    alt="Image of xxxxxx">
                                {% elif post.get_location_display == 'xxxx' %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                    alt="Image of xxxxxx">
                                {% elif post.get_location_display == 'xxxx' %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                    alt="Image of xxxxx">
                                {% else %}
                                <img class="card-img-top"
                                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg"
                                    alt="Image of xxxxxx">
                                {% endif %}
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="Uploaded image">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                <p class="card-text h6 mt-2">

                                </p>
                                <h2 class="card-title mt-4">{{ post.title | truncatechars:40 }}</h2>
                                <!-- Display post content, 30 characters and appends an ellipsis if no excerpt provided -->
                                {% if post.excerpt %}
                                <p class="card-text">{{ post.excerpt }}</p>
                                {% else %}
                                <p class="card-text">{{ post.content | striptags | truncatechars:30 }}</p>
                                {% endif %}
                            </a>
                            <hr>
                            <p class="card-text text-muted h6">{{ post.created_on }} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }} &#8739; <i class="far fa-comments"></i>
                                {{ post.comments.count }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link btn-signup">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link btn-signup"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}