{% for bar in bars %}

<div class="bar-preview">
    <a href="{{ bar.get_absolute_url }}">
        {% if bar.featured_image %}
        <img src="{{ bar.featured_image.url }}" alt="{{ bar.bar_name }}" class="img-fluid float-left mr-3">
        {% endif %}
        <h2 class="bar-title">{{ bar.bar_name }}</h2>
    </a>
    <p class="bar-rating">
        {% for i in "12345" %}
        {% if forloop.counter <= bar.average_rating %}
        <span class="fa fa-star checked"></span>
        {% else %}
        <span class="fa fa-star"></span>
        {% endif %}
        {% endfor %}
    </p>
    <p class="bar-address">{{ bar.address }}</p>
</div>
{% endfor %}