{% extends "base.html" %}

{% block content %}

<!-- 
<div class="container-fluid">
<div class="row">
Blog Entries Column
<div class="col-12 mt-3 left">
<div class="row">
</div>
</div>
</div>
</div> -->

<!-- Hero section starts here -->
<section class="hero">
    <div class="container-fluid">
        <div class="row hero-text align-items-center">
            <div class="col col-xl-4 offset-xl-6">
                <h1>Berlin Bestbeers</h1>
                <h2>Berlin, Germany</h2>
                {% if user.is_authenticated %}
                <a href="{% url 'blog' %}" class="btn btn-signup btn-lg mt-3">Visit the Blog</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="btn btn-signup btn-lg mt-3">Register
                    now!</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Info section -->
    <section class="info">
        <div class="container">
            <div class="row">
                <div class="col d-none d-sm-block">
                    <i class="fas fa-circle-check"></i>
                    <h3>Blog</h3>
                    <hr>
                    <p>Berlin Bestbeers</p>
                </div>
                <div class="col">
                    <i class="fas fa-clock"></i>
                    <h3>WE LOVE BEERS</h3>
                    <hr>
                    <p>Since 2023</p>
                </div>
                <div class="col d-none d-lg-block">
                    <i class="fas fa-earth-europe"></i>
                    <h3>From</h3>
                    <hr>
                    <p>Småland, Sweden</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Recent posts Section -->
    <section class="recent-posts">
        <div class="container-fluid recent-posts-carousel">
            <div class="row">
                <div class="col-12">
                    <h2>Recent Posts</h2>
                </div>
            </div>
            <div class="container">
                <hr>
                <br>
                <div class="row">
                    <!-- Bootstrap Carousel -->
                    <div id="carouselSlidesOnly" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <!-- Using Indexing Syntax for Slicing, latest post -->
                                {% for post in post_list|slice:'0:1' %}
                                {% if 'placeholder' in post.featured_image.url %}
                                <!-- Display placeholder photos based on fishing location -->
                                {% if post.get_location_display == 'Alsterån' %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740641/alsteran_cdqutx.jpg"
                                    alt="Image of Alsterån">
                                {% elif post.get_location_display == 'Hällesjön' %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740653/hallesjon_pjqigq.jpg"
                                    alt="Image of Hällesjön">
                                {% elif post.get_location_display == 'Isgölen' %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740665/isgolen_px9qtt.jpg"
                                    alt="Image of Isgölen">
                                {% else %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740684/other_nl9yv8.jpg"
                                    alt="Image of random fishing location">
                                {% endif %}
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                    alt="Uploaded fishing image">
                                {% endif %}
                                <div class="carousel-caption">
                                    <div class="image-flash dark-bg border-0 d-none d-md-block mb-2">
                                        <p class="h2 mt-2 thin"><i class="fas fa-location-pin"></i>
                                            {{ post.get_location_display | safe }}</p>
                                    </div>
                                    {% endfor %}
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <!-- Using Indexing Syntax for Slicing, second latest post -->
                                {% for post in post_list|slice:'1:2' %}
                                {% if 'placeholder' in post.featured_image.url %}
                                <!-- Display placeholder photos based on fishing location -->
                                {% if post.get_location_display == 'Alsterån' %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740641/alsteran_cdqutx.jpg"
                                    alt="Image of Alsterån">
                                {% elif post.get_location_display == 'Hällesjön' %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740653/hallesjon_pjqigq.jpg"
                                    alt="Image of Hällesjön">
                                {% elif post.get_location_display == 'Isgölen' %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740665/isgolen_px9qtt.jpg"
                                    alt="Image of Isgölen">
                                {% else %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740684/other_nl9yv8.jpg"
                                    alt="Image of random fishing location">
                                {% endif %}
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                    alt="Uploaded fishing image">
                                {% endif %}
                                <div class="carousel-caption">
                                    <div class="image-flash dark-bg border-0 d-none d-md-block mb-2">
                                        <p class="h2 mt-2 thin"><i class="fas fa-location-pin"></i>
                                            {{ post.get_location_display | safe }}</p>
                                    </div>
                                    {% endfor %}
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <!-- Using Indexing Syntax for Slicing, third latest post -->
                                {% for post in post_list|slice:'2:3' %}
                                {% if 'placeholder' in post.featured_image.url %}
                                <!-- Display placeholder photos based on fishing location -->
                                {% if post.get_location_display == 'Alsterån' %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740641/alsteran_cdqutx.jpg"
                                    alt="Image of Alsterån">
                                {% elif post.get_location_display == 'Hällesjön' %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740653/hallesjon_pjqigq.jpg"
                                    alt="Image of Hällesjön">
                                {% elif post.get_location_display == 'Isgölen' %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740665/isgolen_px9qtt.jpg"
                                    alt="Image of Isgölen">
                                {% else %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740684/other_nl9yv8.jpg"
                                    alt="Image of random fishing location">
                                {% endif %}
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                    alt="Uploaded fishing image">
                                {% endif %}
                                <div class="carousel-caption">
                                    <div class="image-flash dark-bg border-0 d-none d-md-block mb-2">
                                        <p class="h2 mt-2 thin"><i class="fas fa-location-pin"></i>
                                            {{ post.get_location_display | safe }}</p>
                                    </div>
                                    {% endfor %}
                                    <i class="fas fa-angle-down"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <!-- Blog Entries Column -->
                <div class="col-12 mt-3 left">
                    <div class="row">
                        {% for post in post_list %}
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="image-container">
                                        {% if 'placeholder' in post.featured_image.url %}
                                        <!-- Display placeholder photos based on fishing location -->
                                        {% if post.get_location_display == 'Alsterån' %}
                                        <img class="card-img-top"
                                            src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740641/alsteran_cdqutx.jpg"
                                            alt="Image of Alsterån">
                                        {% elif post.get_location_display == 'Hällesjön' %}
                                        <img class="card-img-top"
                                            src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740653/hallesjon_pjqigq.jpg"
                                            alt="Image of Hällesjön">
                                        {% elif post.get_location_display == 'Isgölen' %}
                                        <img class="card-img-top"
                                            src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740665/isgolen_px9qtt.jpg"
                                            alt="Image of Isgölen">
                                        {% else %}
                                        <img class="card-img-top"
                                            src="https://res.cloudinary.com/dwe8qxpnf/image/upload/v1658740684/other_nl9yv8.jpg"
                                            alt="Image of random fishing location">
                                        {% endif %}
                                        {% else %}
                                        <img class="card-img-top" src=" {{ post.featured_image.url }}"
                                            alt="Uploaded fishing image">
                                        {% endif %}
                                        <!-- Display new text to the most latest blog post -->
                                        {% if post in post_list|slice:'0:1' %}
                                        <div class="image-new-flash">
                                            <p class="author">NEW</p>
                                        </div>
                                        {% endif %}
                                        <div class="image-flash">
                                            <p class="author">Author: {{ post.author }}</p>
                                        </div>
                                    </div>
                                    <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                                        <p class="card-text h6 mt-2">
                                            <i class="fas fa-location-pin"></i> {{ post.get_location_display | safe }}
                                            &#8739;
                                            <i class="fas fa-fish"></i> {{ post.fish_caught | safe }}
                                            <!-- Display correct fa icon based on weather_conditions -->
                                            {% if post.weather_conditions >= 1 %}
                                            &#8739;
                                            Weather
                                            {% if post.weather_conditions == 1 %}
                                            <i class="fas fa-sun"></i>
                                            {% elif post.weather_conditions == 2 %}
                                            <i class="fas fa-cloud"></i>
                                            {% elif post.weather_conditions == 3 %}
                                            <i class="fas fa-wind"></i>
                                            {% elif post.weather_conditions == 4 %}
                                            <i class="fas fa-cloud-rain"></i>
                                            {% elif post.weather_conditions == 5 %}
                                            <i class="fas fa-snowflake"></i>
                                            {% endif %}
                                            {% endif %}
                                        </p>
                                        <p class="card-title h4 mt-4">{{ post.title | truncatechars:30 }}</p>
                                        <!-- Display post content, 30 characters and appends an ellipsis if no excerpt provided -->
                                        {% if post.excerpt %}
                                        <p class="card-text">{{ post.excerpt }}</p>
                                        {% else %}
                                        <p class="card-text">{{ post.content | striptags | truncatechars:30 }}</p>
                                        {% endif %}
                                    </a>
                                    <hr>
                                    <p class="card-text text-muted h6">{{ post.created_on }} <i
                                            class="far fa-heart"></i>
                                        {{ post.number_of_likes }} &#8739; <i class="far fa-comments"></i>
                                        {{ post.comments.count }}</p>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <br>
        </div>
    </section>






    {%endblock%}