{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="header">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 header-text">
                <!-- H2 for Post title -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author first and then the creation's date -->
                <p class="post-subtitle">
                    <small>By: {{ post.author }} | {{ post.created_on }} </small>
                    <br />
                </p>
            </div>

            <div class="d-none d-md-block col-md-6 header-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/dovykh024/image/upload/v1673867142/christin-hume-08tX2fsuSLg-beercraft_hmsrui.jpg"
                    width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if request.user == post.author %}

<div class="container">
    <div class="row">
        <div class="col-xl-4 offset-xl-8">
            <!-- Button for post update -->
            <a href="{% url 'update_post' post.slug %}" class="btn btn-signup m-1">
                <i class="fa fa-edit"></i> Edit post</a>
            <!-- Button for post delete -->
            <a href="{% url 'delete_post' post.slug %}" class="btn btn-danger m-1">
                <i class="fa fa-trash"></i> Delete Post</a>
        </div>
    </div>
</div>
{% endif %}

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>

                <div class="row">
                    <div class="col col-md-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}

                                <!-- like and dislike buttons of each post -->
                                <button type="submit" name="blogspot_id" value="{{post.slug}}" class="btn-like">
                                    <i class="fas fa-heart"></i>
                                </button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i>
                                </button>
                                {% endif %}
                            </form>
                            {% else %}

                            <!-- Mon-authenticated users can slo like posts -->
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}

                            <!-- Number of likes -->
                            <span class="text-secondary"> {{ post.number_of_likes }} </span>
                        </strong>
                    </div>

                    <div class="col col-md-1">
                        <!-- To show the numbers of comments on each post -->
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- The total comments variable goes before the closing strong tag -->
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md card mb-4 mt-3">
            <h2>Comments:</h2>
            <div class="card-body">
                <!-- The forloop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            <!-- The comment's created date goes here -->
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                </div>
                <p>{{ request.user.username }}</p>
                <p>{{ comment.name }}</p>
                {% if request.user.username == comment.name %}
                <a href="{% url 'update_comment' post.slug comment.pk %}" class="btn btn-signup badge"><i
                        class="fa fa-edit"></i> Update this comment</a>

                <!-- Button trigger Comment Delete modal -->
                <button type="button" class="btn btn-del badge" data-toggle="modal"
                    data-target="#commentModal{{ comment.pk }}"><i class="fa fa-trash"></i> Delete this comment</button>
                <!-- Comment Delete Modal -->
                <div class="modal fade" id="commentModal{{ comment.pk }}" tabindex="-1"
                    aria-labelledby="commentModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="commentModalLabel">Are you sure you want to delete this
                                    comment?</h5>
                                <button type="button" class="btn" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="fas fa-xmark"></i></span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="comments" style="padding: 10px;">
                                    <p class="font-weight-bold">
                                        {{ comment.author }}
                                        <span class="text-muted font-weight-normal">
                                            {{ comment.created_on }}
                                        </span> wrote:
                                    </p>
                                    {{ comment.body | linebreaks }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <form action="{% url 'comment_delete' post.slug comment.pk %}" method="POST"
                                    class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-del">Delete</button>
                                </form>
                                <button type="button" class="btn btn-sec" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <hr>

                <!-- For loop ends here -->
                {% endfor %}
            </div>
        </div>

        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">

                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3>Leave a comment:</h3>
                <p>Posting as: {{ author.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}