<form method="post">
    {% csrf_token %}
    <div class="star-rating">
        <span class="fa fa-star" data-rating="1"></span>
        <span class="fa fa-star" data-rating="2"></span>
        <span class="fa fa-star" data-rating="3"></span>
        <span class="fa fa-star" data-rating="4"></span>
        <span class="fa fa-star" data-rating="5"></span>
    </div>
    <input type="hidden" name="rating" id="rating" value="{{ item.rating }}">
    <button type="submit">Send rating</button>
</form>